html {
    margin: 5px;
    height: 100%;
}

body {
    overflow-y: hidden;
}

html *{
    color: white;
    background-color: #343a40;
}

.top-gap {
    margin-top: 5%;
}

.gap-20 {
    padding-top: 20px;
}

.nav-button {
    font-size: large;
    padding: 5px;
}

.nav-button:hover {
    border-top: 2px solid;
}

#app-container {
    width: 50%;
    margin: auto;
    border: solid 2px;
    border-radius: 5px;
    padding-bottom: 10px;
    min-height: 60vh;
    min-width: 800px;
}

#menu-divider {
    background-color: white;
    height: 2px;
    margin-top: 0;
}

#intro-text {
    text-align: center;
    height: 100%;
}

#score-table {
    height: 100%;
    position: absolute;
}

#scores-container {
    display: flex;
    flex-flow: column;
}

#menu-bar *{
    margin: auto;
}